*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Mooli', sans-serif; 
    
}

body{
    background-color: #ffd700;
    cursor: url(./cursor.png), auto;

}

h1{
 font-family: 'Mooli', sans-serif;
 font-size: 25px;
 text-align: center;
 padding: 5px;
 cursor: url(./cursor.png), auto;
 

}
.text{
    align-items: center;
    border-radius: 5px;
    border: 2px solid antiquewhite;
    margin: 10% 30% 5% 30%;
    cursor: url(./cursor.png), auto;
}

.botones{
    align-items: center;
    text-align: center;
}
.contact100-form-btn  {
    background-color: antiquewhite;
    color: black;
   text-align: center;
   text-decoration: none;
   font-size: 18px;
   width: 40%;
   height: 40%;
   margin: 5px;
   padding: 5px
}

.sorpresa{
    background-color: antiquewhite;
    color: black;
   text-align: center;
   text-decoration: none;
   font-size: 18px;
   width: 50%;
   height: 40%;
   margin: 5px;
   padding: 5px
}

img{
    width: 30%;
    height: auto;
    margin-left: 35%;
}
.juntitas img{
    border-radius: 10px;
    width: 30%;
    height: auto;
}
